* {
    margin: 0;
    font-family: inter;

}

.cmn-btn {
    font-weight: bold;
    padding: 12px 20px;
    background-color: #1D4ED8;
    border-radius: 10px;
    color: white;
    border: 0;
    font-size: large
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 1650px;
    margin: auto;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    color: #575757;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/banner.jpg");
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.hero-inner {
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
}

.hero-inner button {
    width: 25%;
    margin-left: 40%;
    margin-top: 60%;

}


.hero-inner h1 {
    font-size: 4rem;
    font-weight: bold;
}

.speakers h1 {
    padding: 55px;
    text-align: center;
    font-size: 55px;

}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60px;

}

.card {
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
    width: 644px;
    border-radius: 12px;
    overflow: hidden;

}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-content h6 {
    color: #2563EB;
    margin-bottom: 14px;
}

.card-content h2 {
    margin-bottom: 14px;
}

.card-content p {
    color: #575757;
}

.ticket {
    padding: 55px;
    text-align: center;
    margin-top: 50px;



}
.tc-container{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 24px;
    padding: 40px;

}

.tc-card{
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
    width: 370.66px;
    height: 444px;
    border-radius: 12px;
    overflow: hidden;
    padding: 32px;
}

.tc-card hr{
    margin: 20px;
    color: #E5E7EB;
}

.tc-card h1{
    font-weight: bold;
    font-size: 44px;
}

.tc-card ul{
    font-size: 14;
    line-height: 21px;
    list-colo: ;
}


footer {
    width: 100%;
    background-color: #0D1B2A;
    min-height: 20vh;
    color: aliceblue;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer hr {
    margin: 60px 0 35px;
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, .15);
}

.footer-down {
    text-align: center;
}