* {
    margin: 0;
    font-family: inter;

}

.cmn-btn {
    font-weight: bold;
    padding: 12px 20px;
    background-color: #1D4ED8;
    border-radius: 10px;
    color: white;
    border: 0;
    font-size: large
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 1650px;
    margin: auto;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    color: #575757;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/banner.jpg");
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.hero-inner {
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
}

.hero-inner button {
    width: 25%;
    margin-left: 40%;
    margin-top: 60%;

}


.hero-inner h1 {
    font-size: 4rem;
    font-weight: bold;
}

.speakers h1 {
    padding: 55px;
    text-align: center;
    font-size: 55px;

}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60px;

}

.card {
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
    width: 644px;
    border-radius: 12px;
    overflow: hidden;

}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-content h6 {
    color: #2563EB;
    margin-bottom: 14px;
}

.card-content h2 {
    margin-bottom: 14px;
}

.card-content p {
    color: #575757;
}

.ticket {
    padding: 55px;
    text-align: center;
    margin-top: 50px;



}
.tc-container{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 24px;
    padding: 40px;

}

.tc-card{
    box-shadow:0px 0px 2px rgba(0, 0, 0, 0.2);
    width: 370.66px;
    height: 444px;
    border-radius: 12px;
    overflow: hidden;
    padding: 32px;
    gap: 20px;
}

.tc-card hr{
    margin: 20px;
    color: #E5E7EB;
}

.tc-card h1{
    font-weight: bold;
    font-size: 44px;
}

.tc-card ul{
    font-size: 14;
    line-height: 40px;
    width: 304px;
    height: 176px;
}



.tc-card button{
    padding: 11px;
    border-radius: 8px;
    width: 100%;
    margin-top: 20%;
    font-size: larger;
}

.std-btn{
    color: #2563EB;
    background-color: transparent;
    border: 1;
    border-color: #2563EB;
}

.pro-btn{
    background-color:#2563EB ;
    color: white;
    border: 0;
}
.team-btn{
    background-color: transparent;
}


#faq{
    
    padding:100px 100px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/faq.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color:#0D1B2A;
}

.faq-header{
    text-align:center;
    margin-bottom:60px;
}

.faq-header p{
    color:white;
    font-size:18px;
    margin-bottom:12px;
}

.faq-header h2{
    color: white;
    font-size:48px;
    font-weight:700;
}

.faq-container{
    width:900px;
    margin:auto;
}

.faq-item{
    background:white;
    border:1px solid rgba(255,255,255,.08);
    border-radius:16px;
    margin-bottom:24px;
    padding:28px 32px;
    transition:.3s;
}

.faq-question{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.faq-question h3{
    font-size:24px;
    font-weight:600;
}

.faq-question span{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#0D1B2A;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:bold;
}

.faq-answer p{
    color:#B8B8B8;
    font-size:17px;
    line-height:1.8;
}

footer {
    width: 100%;
    background-color: #0D1B2A;
    min-height: 20vh;
    color: aliceblue;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer hr {
    margin: 60px 0 35px;
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, .15);
}

.footer-down {
    text-align: center;
}